@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body);
	color: var(--color-text);
  --primary-bg: #031025;
  --green-base: #00ff92;
  --yellow-base: #ffe500;
}

.primary-bg {
  @apply bg-[var(--primary-bg)];
}


body {
  // @apply bg-slate-900  bg-gradient-to-b from-slate-800 to-slate-950;
  @apply bg-[var(--primary-bg)];
  // @apply bg-gradient-to-b from-[#0B234D] to-[#081c3f];
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.h-full-dynamic {
  height: 100dvh;
}

.h1 {
  @apply font-bold text-2xl;
}
.h2 {
  @apply font-bold text-xl;
}
.h3 {
  @apply font-bold text-lg;
}
.h4 {
  @apply font-semibold text-base;
}

.label-small {
  @apply text-xs leading-3 text-gray-300;
}

.glow-purple {
  opacity: 0.4;
  box-shadow: 0 0 100px 30px rgba(138, 34, 202, 0.3),
  0 0 200px 60px rgba(138, 34, 202, 0.4),
  0 0 300px 120px rgba(138, 34, 202,  0.5),
  0 0 450px 240px rgba(138, 34, 202,  0.6);
}

.glow-blue {
  opacity: 0.4;
  box-shadow: 0 0 100px 30px rgba(24, 56, 197, 0.2),
  0 0 200px 60px rgba(24, 56, 197, 0.3),
  0 0 300px 120px rgba(24, 56, 197,  0.4),
  0 0 450px 240px rgba(24, 56, 197,  0.5);
}
